<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link href="styles.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


</head>
<body>
<header>
  <div class="navigation-wrap start-header start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" style="font-size: 2.25rem;" href="#"><span style="color:#e24c32;">Dev</span> <span style="color:white;">IT </span> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
            
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="index.html">Trang Chủ</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link " href="listJob.html">Việc làm</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link " href="listCompany.html">Nhà tuyển dụng</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="lifeIt.html">Cuộc sống IT</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="DashboardRecruiment.html">Tài khoản HR</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link changeFont" href="selectUILogin.html">Đăng nhập</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link changeFont" href="selectUIRegister.html">Đăng Ký</a>
                </li>
              </ul>
            </div>
          </nav>		
        </div>
      </div>
    </div>
  </div>
</header> 
<section class="banner-bg">
    <h1>Công nghệ dẫn đầu cuộc chơi</h1>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <section class="search-sec">
            <div class="container">
                <form action="#" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                                    <input type="text" class="form-control search-slt" placeholder="Nhập từ khóa tìm kiếm">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <select class="form-control search-slt" id="exampleFormControlSelect1">
                                        <option>---Tất cả địa điểm---</option>
                                        <option>Example one</option>
                                        <option>Example one</option>  
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <button type="button" class="btn btn-danger wrn-btn">Tìm kiếm việc</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        </div>
      </div>
    </div>
</section>
<main class="bg-white">

<article class="content-hot">
  <div class="container">
    <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="title-header">Việc làm hot nhất </h3>
     </div>
      
     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="block-post">
          <div class="left-img">
              <img src="image/TopDev-CMCGlobal-Logo-1626313776.jpg" alt="Image"/>
          </div>
          <a href="details.html" class="description">
              <h3 class="title-post">12 Java Developers (AngularJS, SQL) | Up to $2,000 (AngularJS, Java, Full-Stack, Spring) </h3>
              <p class="address"> Quận Cầu Giấy, Hà Nội </p>
              <div class="d-flex justify-content-between">
                <div class="salary">
                   <span class="title-deal-gross">Mức lương : </span> 
                <span class="deal-gross">Thỏa thuận</span> 
                </div>                  
                <span class="time">
                  <i class="fa fa-calendar" style="margin-right:3px;color: gray;"></i>  31/12/1999
                 </span>
              </div>                
          </a>
          <div class="right-hover">
            <a class="favorite" onclick="saveCompany()">
              <i class="fas fa-bookmark changeColorFa"></i>
            </a>
          </div>
            
      </div>
    </div>  
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="block-post">
          <div class="left-img">
              <img src="image/TopDev-CMCGlobal-Logo-1626313776.jpg" alt="Image"/>
          </div>
          <a href="details.html" class="description">
              <h3 class="title-post">12 Java Developers (AngularJS, SQL) | Up to $2,000 (AngularJS, Java, Full-Stack, Spring) </h3>
              <p class="address"> Quận Cầu Giấy, Hà Nội </p>
              <div class="d-flex justify-content-between">
                <div class="salary">
                   <span class="title-deal-gross">Mức lương : </span> 
                <span class="deal-gross">Thỏa thuận</span> 
                </div>                  
                <span class="time">
                  <i class="fa fa-calendar" style="margin-right:3px;color: gray;"></i>  31/12/1999
                 </span>
              </div>                
          </a>
          <div class="right-hover">
            <a class="favorite" onclick="saveCompany()">
              <i class="fas fa-bookmark changeColorFa"></i>
            </a>
          </div>
            
      </div>
    </div>  
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="block-post">
          <div class="left-img">
              <img src="image/TopDev-CMCGlobal-Logo-1626313776.jpg" alt="Image"/>
          </div>
          <a href="details.html" class="description">
              <h3 class="title-post">12 Java Developers (AngularJS, SQL) | Up to $2,000 (AngularJS, Java, Full-Stack, Spring) </h3>
              <p class="address"> Quận Cầu Giấy, Hà Nội </p>
              <div class="d-flex justify-content-between">
                <div class="salary">
                   <span class="title-deal-gross">Mức lương : </span> 
                <span class="deal-gross">Thỏa thuận</span> 
                </div>                  
                <span class="time">
                  <i class="fa fa-calendar" style="margin-right:3px;color: gray;"></i>  31/12/1999
                 </span>
              </div>                
          </a>
          <div class="right-hover">
            <a class="favorite" onclick="saveCompany()">
              <i class="fas fa-bookmark changeColorFa"></i>
            </a>
          </div>
            
      </div>
    </div>  
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="block-post">
          <div class="left-img">
              <img src="image/TopDev-CMCGlobal-Logo-1626313776.jpg" alt="Image"/>
          </div>
          <a href="details.html" class="description">
              <h3 class="title-post">12 Java Developers (AngularJS, SQL) | Up to $2,000 (AngularJS, Java, Full-Stack, Spring) </h3>
              <p class="address"> Quận Cầu Giấy, Hà Nội </p>
              <div class="d-flex justify-content-between">
                <div class="salary">
                   <span class="title-deal-gross">Mức lương : </span> 
                <span class="deal-gross">Thỏa thuận</span> 
                </div>                  
                <span class="time">
                  <i class="fa fa-calendar" style="margin-right:3px;color: gray;"></i>  31/12/1999
                 </span>
              </div>                
          </a>
          <div class="right-hover">
            <a class="favorite" onclick="saveCompany()">
              <i class="fas fa-bookmark changeColorFa"></i>
            </a>
          </div>
            
      </div>
    </div>  
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="block-post">
          <div class="left-img">
              <img src="image/TopDev-CMCGlobal-Logo-1626313776.jpg" alt="Image"/>
          </div>
          <a href="details.html" class="description">
              <h3 class="title-post">12 Java Developers (AngularJS, SQL) | Up to $2,000 (AngularJS, Java, Full-Stack, Spring) </h3>
              <p class="address"> Quận Cầu Giấy, Hà Nội </p>
              <div class="d-flex justify-content-between">
                <div class="salary">
                   <span class="title-deal-gross">Mức lương : </span> 
                <span class="deal-gross">Thỏa thuận</span> 
                </div>                  
                <span class="time">
                  <i class="fa fa-calendar" style="margin-right:3px;color: gray;"></i>  31/12/1999
                 </span>
              </div>                
          </a>
          <div class="right-hover">
            <a class="favorite" onclick="saveCompany()">
              <i class="fas fa-bookmark changeColorFa"></i>
            </a>
          </div>
            
      </div>
    </div>  
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="block-post">
          <div class="left-img">
              <img src="image/TopDev-CMCGlobal-Logo-1626313776.jpg" alt="Image"/>
          </div>
          <a href="details.html" class="description">
              <h3 class="title-post">12 Java Developers (AngularJS, SQL) | Up to $2,000 (AngularJS, Java, Full-Stack, Spring) </h3>
              <p class="address"> Quận Cầu Giấy, Hà Nội </p>
              <div class="d-flex justify-content-between">
                <div class="salary">
                   <span class="title-deal-gross">Mức lương : </span> 
                <span class="deal-gross">Thỏa thuận</span> 
                </div>                  
                <span class="time">
                  <i class="fa fa-calendar" style="margin-right:3px;color: gray;"></i>  31/12/1999
                 </span>
              </div>                
          </a>
          <div class="right-hover">
            <a class="favorite" onclick="saveCompany()">
              <i class="fas fa-bookmark changeColorFa"></i>
            </a>
          </div>
            
      </div>
    </div> 
    </div>
  </div>
</article>
<div class="banner-ad">
  <img src="image/bg-qc.jpg" alt="bg-qc"/>
</div>
<article class="content-hot">
  <div class="container">
    <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="title-header">Việc làm mới nhất </h3>
     </div>
     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="block-post">
          <div class="left-img">
              <img src="image/TopDev-CMCGlobal-Logo-1626313776.jpg" alt="Image"/>
          </div>
          <a href="details.html" class="description">
              <h3 class="title-post">12 Java Developers (AngularJS, SQL) | Up to $2,000 (AngularJS, Java, Full-Stack, Spring) </h3>
              <p class="address"> Quận Cầu Giấy, Hà Nội </p>
              <div class="d-flex justify-content-between">
                <div class="salary">
                   <span class="title-deal-gross">Mức lương : </span> 
                <span class="deal-gross">Thỏa thuận</span> 
                </div>                  
                <span class="time">
                  <i class="fa fa-calendar" style="margin-right:3px;color: gray;"></i>  31/12/1999
                 </span>
              </div>                
          </a>
          <div class="right-hover">
            <a class="favorite" onclick="saveCompany()">
              <i class="fas fa-bookmark changeColorFa"></i>
            </a>
          </div>
            
      </div>
    </div>  
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="block-post">
          <div class="left-img">
              <img src="image/TopDev-CMCGlobal-Logo-1626313776.jpg" alt="Image"/>
          </div>
          <a href="details.html" class="description">
              <h3 class="title-post">12 Java Developers (AngularJS, SQL) | Up to $2,000 (AngularJS, Java, Full-Stack, Spring) </h3>
              <p class="address"> Quận Cầu Giấy, Hà Nội </p>
              <div class="d-flex justify-content-between">
                <div class="salary">
                   <span class="title-deal-gross">Mức lương : </span> 
                <span class="deal-gross">Thỏa thuận</span> 
                </div>                  
                <span class="time">
                  <i class="fa fa-calendar" style="margin-right:3px;color: gray;"></i>  31/12/1999
                 </span>
              </div>                
          </a>
          <div class="right-hover">
            <a class="favorite" onclick="saveCompany()">
              <i class="fas fa-bookmark changeColorFa"></i>
            </a>
          </div>
            
      </div>
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="block-post">
          <div class="left-img">
              <img src="image/TopDev-CMCGlobal-Logo-1626313776.jpg" alt="Image"/>
          </div>
          <a href="details.html" class="description">
              <h3 class="title-post">12 Java Developers (AngularJS, SQL) | Up to $2,000 (AngularJS, Java, Full-Stack, Spring) </h3>
              <p class="address"> Quận Cầu Giấy, Hà Nội </p>
              <div class="d-flex justify-content-between">
                <div class="salary">
                   <span class="title-deal-gross">Mức lương : </span> 
                <span class="deal-gross">Thỏa thuận</span> 
                </div>                  
                <span class="time">
                  <i class="fa fa-calendar" style="margin-right:3px;color: gray;"></i>  31/12/1999
                 </span>
              </div>                
          </a>
          <div class="right-hover">
            <a class="favorite" onclick="saveCompany()">
              <i class="fas fa-bookmark changeColorFa"></i>
            </a>
          </div>
            
      </div>
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="block-post">
          <div class="left-img">
              <img src="image/TopDev-CMCGlobal-Logo-1626313776.jpg" alt="Image"/>
          </div>
          <a href="details.html" class="description">
              <h3 class="title-post">12 Java Developers (AngularJS, SQL) | Up to $2,000 (AngularJS, Java, Full-Stack, Spring) </h3>
              <p class="address"> Quận Cầu Giấy, Hà Nội </p>
              <div class="d-flex justify-content-between">
                <div class="salary">
                   <span class="title-deal-gross">Mức lương : </span> 
                <span class="deal-gross">Thỏa thuận</span> 
                </div>                  
                <span class="time">
                  <i class="fa fa-calendar" style="margin-right:3px;color: gray;"></i>  31/12/1999
                 </span>
              </div>                
          </a>
          <div class="right-hover">
            <a class="favorite" onclick="saveCompany()">
              <i class="fas fa-bookmark changeColorFa"></i>
            </a>
          </div>
            
      </div>
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="block-post">
          <div class="left-img">
              <img src="image/TopDev-CMCGlobal-Logo-1626313776.jpg" alt="Image"/>
          </div>
          <a href="details.html" class="description">
              <h3 class="title-post">12 Java Developers (AngularJS, SQL) | Up to $2,000 (AngularJS, Java, Full-Stack, Spring) </h3>
              <p class="address"> Quận Cầu Giấy, Hà Nội </p>
              <div class="d-flex justify-content-between">
                <div class="salary">
                   <span class="title-deal-gross">Mức lương : </span> 
                <span class="deal-gross">Thỏa thuận</span> 
                </div>                  
                <span class="time">
                  <i class="fa fa-calendar" style="margin-right:3px;color: gray;"></i>  31/12/1999
                 </span>
              </div>                
          </a>
          <div class="right-hover">
            <a class="favorite" onclick="saveCompany()">
              <i class="fas fa-bookmark changeColorFa"></i>
            </a>
          </div>
            
      </div>
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="block-post">
          <div class="left-img">
              <img src="image/TopDev-CMCGlobal-Logo-1626313776.jpg" alt="Image"/>
          </div>
          <a href="details.html" class="description">
              <h3 class="title-post">12 Java Developers (AngularJS, SQL) | Up to $2,000 (AngularJS, Java, Full-Stack, Spring) </h3>
              <p class="address"> Quận Cầu Giấy, Hà Nội </p>
              <div class="d-flex justify-content-between">
                <div class="salary">
                   <span class="title-deal-gross">Mức lương : </span> 
                <span class="deal-gross">Thỏa thuận</span> 
                </div>                  
                <span class="time">
                  <i class="fa fa-calendar" style="margin-right:3px;color: gray;"></i>  31/12/1999
                 </span>
              </div>                
          </a>
          <div class="right-hover">
            <a class="favorite" onclick="saveCompany()">
              <i class="fas fa-bookmark changeColorFa"></i>
            </a>
          </div>
            
      </div>
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
       <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
    </div>
    </div>
  </div>
</article>
<article class="life-it">
  <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="title-header">Cuộc sống IT</h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="#" class="card" >
            <img class="card-img-top" src="image/luong-lap-trinh-vien.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Lương lập trình viên có thể đạt 100 triệu/tháng: Tin được không?</h5>
              <p class="card-text">
                Bài viết được sự cho phép của blogchiasekienthuc.com Chào các bạn, đối với anh em làm trong giới lập trình thì mình tin...
              </p>
             
            </div>
          </a>
                
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="#" class="card">
            <img class="card-img-top" src="image/luong-lap-trinh-vien.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Lương lập trình viên có thể đạt 100 triệu/tháng: Tin được không?</h5>
              <p class="card-text">
                Bài viết được sự cho phép của blogchiasekienthuc.com Chào các bạn, đối với anh em làm trong giới lập trình thì mình tin...
              </p>
             
            </div>
          </a>
                
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="#" class="card" >
            <img class="card-img-top" src="image/luong-lap-trinh-vien.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Lương lập trình viên có thể đạt 100 triệu/tháng: Tin được không?</h5>
              <p class="card-text">
                Bài viết được sự cho phép của blogchiasekienthuc.com Chào các bạn, đối với anh em làm trong giới lập trình thì mình tin...
              </p>
             
            </div>
          </a>
                
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="#" class="card" >
            <img class="card-img-top" src="image/luong-lap-trinh-vien.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Lương lập trình viên có thể đạt 100 triệu/tháng: Tin được không?</h5>
              <p class="card-text">
                Bài viết được sự cho phép của blogchiasekienthuc.com Chào các bạn, đối với anh em làm trong giới lập trình thì mình tin...
              </p>
             
            </div>
          </a>
                
        </div>
      </div>    
    </div>
</article>

</main>
<footer class="d-flex justify-content-md-around">
  <div class="left">
    <p>Trụ sở chính: Tầng 6, Tòa nhà Pasteur, 139 Pasteur, Phường 6, Quận 3, TP. Hồ Chí Minh - Tel: (84.28) 3822 6060</p>
    <p>Văn phòng Hà Nội: Tầng 17, Tòa nhà VIT, 519 Kim Mã, Quận Ba Đình, Hà Nội - Tel: (84.24) 7305 6060</p>
    <p>Email: contact@careerbuilder.vn</p>
    <p>Copyright © CareerBuilder Vietnam.</p>
  </div>
  <div class="right">
    <img src="image/dk.png" alt="">
  </div>
</footer>

<!-- <textarea id="summernote" name="editordata"></textarea>
<div id="summernote">Hello Summernote</div> -->
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="index.js"></script>
